---
---
@import "jekyll-theme-minimal";
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
nav ul li a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
//section {
//    display: none;
//    padding: 1rem 0;
//}
//section.active {
//    display: block;
//}
