---
---
@import "jekyll-theme-minimal";
div.my-html div.header {
  background: #f5f5f5;
}
/* Force nav to span full width */
div.my-html nav {
  width: 100% !important;
  border-bottom: 2px solid #ccc !important;
  box-sizing: border-box;
}
div.my-html nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-bottom: 0; /* remove default gap */
}
div.my-html nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    color: #0366d6;
    border-radius: 5px 5px 0 0;
}
div.my-html nav ul li a.active {
  background: #ffffff;
  /*border: 1px solid #ccc;*/
  /*border-bottom: 1px solid #fff; merge with section */
  color: #0366d6;
}
div.my-html nav ul li a:not(.active):hover {
  background: #f8f8f8;
}
div.section {
  display: none;
  /*padding: 1rem 0 !important;
  border: 1px solid #ccc !important;
  border-top: none !important; *//* so it connects to active tab */
  /*background: #fff !important;*/
  /*margin-top: 0 !important; aligns perfectly with active tab */
  /*box-sizing: border-box;
  width: 100% !important;*/
}
div.section.active {
  display: block !important;
  width: 100% !important;
}
