---
---
@import "jekyll-theme-minimal";
.my-header nav ul {
  list-style: none;
  /*margin-left: -5px;
  margin-right: -5px;*/
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  background: #f5f5f5;
}
.my-header nav ul li a {
  text-decoration: none;
  display: block;
  font-weight: normal;
  color: #333333;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.my-header nav ul li a.active {
  font-weight: bold;
  color: #0366d6;
}
.my-header nav ul li a:not(.active):hover {
  font-weight: normal;
  color: #0366d6;
}
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
}
