---
---
@import "jekyll-theme-minimal";
/*
 * Issues
 *    1) Content Scrolling :
 *        - the index html is supposed to "wrapper" in div.wrapper element ;
 *        - it defines a div.my-header element containing the a menu and a set of div.my-section elements providing
 *          the content corresponding to each menu item. A single div.section element is supposed to be active ;
 *        - The intent is to be able to scrol the active div.my-section element instead of the overall div.wrapper content.
 */
/*
 * Top Navigation Bar
 */
.my-header {
    --menu-item-selected-color: #267CB9; /* Like h1 in Jekyll minimal theme */
    --menu-item-hover-color: #2F5A79; /* In between Like h1 in Jekyll minimal theme */
    --menu-item-color: #393939; /* Like h2 in Jekyll minimal theme */
    --menu-background: #f5f5f5;
    --menu-item-spacing: 8px;
    --menu-and-content-spacing: 30px;
    border: 1px solid blue;
    background: white;
    z-index: 10;
}
/* Two-column mode: now safe to give wrapper full height */
@media screen and (min-width: 940px) {
    .my-header {
        position: fixed;
        top: 30px;
    }
    .my-section {
        position: fixed; /* make it independent of page scroll */
        top: 100px; /* header offset */
        bottom: 0; /* stick to bottom of viewport */
        /*width: calc(100% - 250px);  adjust for left column width */
        overflow-y: auto; /* now this scrolls */
        z-index: 9;
    }
}
.my-header nav ul {
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    gap: var(--menu-item-spacing);
    margin-bottom: var(--menu-and-content-spacing);
    background: var(--menu-background);
}
.my-header nav ul li a {
  text-decoration: none;
  display: block;
  font-weight: normal;
  color: var(--menu-item-color);
  padding: 10px;
}
.my-header nav ul li a.active {
  font-weight: bold;
  color: var(--menu-item-selected-color);
}
.my-header nav ul li a:not(.active):hover {
  font-weight: normal;
  color: var(--menu-item-hover-color);
}
/*
 * Main Content pseudo-section
 */
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
}
/*
 * Github pseudo-styling
 */
.github-green-btn {
    background: green;
    color: white;
    font-weight: bold;
    padding: 2px 7px; /* left/right top/bottom */
    border: 1px solid black;
    border-radius: 5px;
}
