---
---
@import "jekyll-theme-minimal";

/* Force nav to span full width */
.my-header nav {
  width: 100% !important;
  /*border-bottom: 2px solid #ccc !important;
  box-sizing: border-box;*/
}
.my-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-bottom: 0; /* remove default gap */
}
.my-header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    color: #0366d6;
    border-radius: 5px 5px 0 0;
    background: #ffffff;
}
.my-header nav ul li a.active {
  background: #f5f5f5;
  /*border: 1px solid #ccc;*/
  /*border-bottom: 1px solid #fff; merge with section */
  color: #0366d6;
}
.my-header nav ul li a:not(.active):hover {
  background: #f8f8f8;
}
.my-section {
  display: none;
  padding: 5px;
  background: #f5f5f5;
  /*padding: 1rem 0 !important;
  border: 1px solid #ccc !important;
  border-top: none !important; *//* so it connects to active tab */
  /*background: #fff !important;*/
  /*margin-top: 0 !important; aligns perfectly with active tab */
  box-sizing: border-box;
  /*width: 100% !important;*/
}
div.my-section.active {
  display: block !important;
  padding: 5px;
  background: #f5f5f5;
  box-sizing: border-box;
}
