---
---
@import "jekyll-theme-minimal";
div.my-html nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
div.my-html nav ul li a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
}
div.my-html nav ul li a:hover {
    text-decoration: underline;
}
div.my-html section {
    display: none !important;
    padding: 1rem 0;
}
div.my-html section.active {
    display: block !important;
}
