---
---
@import "jekyll-theme-minimal";
/*
 * Top Navigation Bar
 */
body {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh; /* Full viewport height */
}
.my-header {
  flex-shrink: 0; /* Prevent shrinking */
}
.my-header nav ul {
    display: flex;
    list-style: none;
    margin-left: 0px;
    padding: 0px;
    gap: 8px;
    margin-bottom: 30px;
    background: #f5f5f5;
}
.my-header nav ul li a {
  text-decoration: none;
  display: block;
  font-weight: normal;
  color: #333333;
  padding: 10px;
}
.my-header nav ul li a.active {
  font-weight: bold;
  color: #0366d6;
}
.my-header nav ul li a:not(.active):hover {
  font-weight: normal;
  color: #0366d6;
}
/*
 * Main Content pseudo-section
 */
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
  overflow-y: auto; /* Scroll if content overflows */
  flex: 1; /* Take remaining space */
}
/*
 * Githib styling
 */
.github-green-btn {
    background: green;
    color: white;
    font-weight: bold;
    padding: 2px 7px;
    border: 1px solid black;
    border-radius: 5px;
}
