---
---
@import "jekyll-theme-minimal";


.my-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.my-header nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: normal;
  color: #333333;
}
.my-header nav ul li a.active {
  font-weight: bold;
  color: #0366d6;
}
.my-header nav ul li a:hover {
  font-weight: normal;
  color: #0366d6;
}
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
}
