---
---
@import "jekyll-theme-minimal";
body {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh; /* Full viewport height */
}
.my-header {
  flex-shrink: 0; /* Prevent shrinking */
}
.my-header nav ul {
  list-style: none;
  margin-left: 0px;
  padding: 0px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  background: #f5f5f5;
}
.my-header nav ul li a {
  text-decoration: none;
  display: block;
  font-weight: normal;
  color: #333333;
  padding: 10px;
}
.my-header nav ul li a.active {
  font-weight: bold;
  color: #0366d6;
}
.my-header nav ul li a:not(.active):hover {
  font-weight: normal;
  color: #0366d6;
}
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
  overflow-y: auto; /* Scroll if content overflows */
  flex: 1; /* Take remaining space */
}
