---
---
@import "jekyll-theme-minimal";

/* Force nav to span full width */
.my-header nav {
  width: 100% !important;
  border-bottom: 1px solid #ccc;
  /*border-bottom: 2px solid #ccc !important;
  box-sizing: border-box;*/
}
.my-header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-bottom: 0; /* remove default gap */
}
.my-header nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-weight: bold;
  color: #0366d6;
  border-radius: 5px 5px 0 0;
  border: 1px solid transparent;
}
.my-header nav ul li a.active {
  color: #0366d6;
  border: 1px solid #ccc !important;
  border-bottom: 1px solid #fff !important; /* so it connects to active tab */
}
.my-header nav ul li a:hover {
  background: #f5f5f5;
}
.my-section:not(.active) {
  display: none !important;
}
.my-section.active {
  display: block !important;
  padding: 5px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc !important;
  z-index: 50;
}
